@import '../../primary.scss';

.form-div{
    padding-top: 10rem;
    background-color: $primary-color;
    height: 50rem;
    text-align: center;
    label{
        font-size: 1.5rem;
        font-family: $primary-font-family;

    }
}
.input{
    background-color: $third-color;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}