@import '../../primary.scss';

.home-div{
    background-color: $primary-color;
    // background-image: url(../../../public/assets/pexels-cottonbro-5803614.jpg);
    height: 50rem;
    text-align: center;
    width: auto;
}

.brand{
    width: 50%;
    padding: 5rem 0;
    padding-left: 5rem;
    color:$second-color;
    font-size: 15rem;
    font-family:$second-font-family ;
}

.news{
    position: absolute;
    right: 2rem;
    top: 8rem;
    .noticia{
        font-size: 1.5rem;
        font-family: $primary-font-family;
        background-color: $third-color;
        color:$second-color;
        border: solid 3px $second-color;
        padding: 10px 20px 0;
    }
    .home-img{
        height: 30rem;
        color: $third-color;
        border: solid 4px $second-color;
    }
}
