@import '../../primary.scss';

.footer-div{
    background-color: $primary-color;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        margin: 3rem 3rem;
        font-size: 2rem;
        color: $second-color;
        border: solid $second-color;
        font-family: $primary-font-family;
    }
}