$primary-color:#F7F7F7;
$second-color:#485463;
$third-color:#EEEDDE;
$black-color:#000000;


@import url('https://fonts.googleapis.com/css2?family=Joan&family=Montserrat:wght@100&display=swap');
$primary-font-family: 'Joan', serif;
$second-font-family: 'Montserrat', sans-serif;